html {
  height: 100%;
}
body {
  position:absolute; top:0; bottom:0; right:0; left:0;
  margin: 0;
}

.ap-button {
  background-color: $lightgreen;
  border-radius: 3px;
  border: 1px solid $baselightgray;
  box-shadow: inset -1px -8px 16px -1px rgba(0,0,0,0.75);
  font-size: 13px;
  color: white;
  line-height: 20px;
  display: inline-block;
  padding: 0 10px;
  margin-bottom: 5px;
  cursor: pointer;
  margin-top: 5px;

  &--menu {
    line-height: 24px;
    margin-bottom: 0;
    margin-top: 0;
  }

  &--info {
    margin: 0;
  }

  &--gray {
    background-color: $basegray;
  }

  &--battle {
    font-size: 17px;
    width: 120px;
    text-align: center;
    line-height: 40px;
    margin-left: auto;
    margin-right: auto;
  }
}

.main {
  width: 100%;
  height: 100%;
  background-color: gray;
}

.routes {
  padding: 7px;
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
}

.battles {
  &__element {
    flex: 1;
    background-color: $basegreen;
    margin-right: 10px;
    min-height: 500px;
    border: 5px solid $basegray;
    &:last-child {
      margin-right: 0;
    }
  }

  &__header {
    line-height: 17px;
    font-size: 13px;
    width: 147px;
    text-align: center;
    text-transform: uppercase;
    color: $baselightgray;
    border: 3px solid $basegray;
    background-color: #616161;
    margin-left: auto;
    margin-right: auto;
    margin-top: -28px;
  }

  &__top {
    background-color: $basegray;
    width: 100%;
    height: auto;

    &--center {
      text-align: center;
    }
  }

  &__news {
    font-size: 14px;
    color: $brightgreen;
    padding: 10px 20px;
    text-align: justify;

    &-title {
      font-size: 17px;
      padding-bottom: 10px;
    }
  }

  &__container {
    padding: 10px;
    height: calc(100% - 100px);
  }

  &__battle {
    width: 100%;
    display: flex;
    cursor: pointer;
    padding: 1px 0;
    color: $brightgreen;
    &--full {
      background-color: rgba(53, 255, 53, 0.22);
    }

    &:hover {
      border: 1px solid $brightgreen;
      margin: -1px;
    }

    &-name {
      width: 60%;
    }

    &-count-players {
      width: 15%;
      display: flex;

      &--split {
        width: 100%;
      }
    }

    &-time {
      width: 25%;
      text-align: right;
    }
  }

  &__bottom {
    width: calc(100% - 20px);
    padding: 10px;
    display: flex;
    background-color: $basegray;

    &-element {
      cursor: pointer;
      padding-right: 10px;

      &:last-child {
        padding-right: 0;
      }
    }
  }

  &__info {
    padding: 10px;
    background-color: $basegray;
    display: flex;

    &-link {
      color: white;
      background-color: black;
      padding: 0 5px;
      line-height: 24px;
      margin-right: 10px;
    }
  }

  &__battle-info {
    margin-top: -3px;
  }
}

.player-info {
  display: inline-block;
  justify-content: space-between;
  padding: 3px 0;
  color: white;
  width: 100%;

  &--two {
    display: flex;
  }

  &--red {
    background-color: #8c2828;
    width: 50%;
    border-right: 1px solid $basegray;
    padding: 1px 5px;
  }

  &--blue {
    background-color: #1a5bab;
    width: 50%;
    border-left: 1px solid $basegray;
    padding: 1px 5px;
  }

  &-name {
    float: left;

    &--none {
      color: rgba(255, 255, 255, 0.69);
    }
  }

  &-kills {
    float: right;
  }
}

.basicCount {
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.51);
  color: white;
  background-color: rgba(128, 128, 128, 0.8);
  font-size: 13px;
  line-height: 15px;
}

.count-players {
  &__all {
    @extend .basicCount;
    width: 100%;

    &--full {
      background-color: green;
    }
  }

  &__red {
    @extend .basicCount;
    width: 50%;

    &--full {
      background-color: #8c2828;
    }
  }

  &__blue {
    @extend .basicCount;
    width: 50%;

    &--full {
      background-color: #1a5bab;
    }
  }
}