.baseMenuElement {
  line-height: 26px;
  padding: 0 10px;
  transition: 0.3s;
}

.menu{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 7px;

  &__element{
    padding-right: 10px;
    cursor: pointer;

    &:last-child {
      padding-right: 0;
    }

    &--progress{
      flex: 1;
      background-color: $basegreen;
      padding: 0;
      margin-right: 10px;
    }
  }

  $start: hsl(1, 62.5%, 45%);
  $end: hsl(82, 62.6%, 38.8%);

  $i: 0;
  @while $i < 100 {
    $i: $i + 1;

    $hue: round((82 / 100) * $i);

    &__progress-bar[data-percent='#{$i}'] {
      @extend .baseMenuElement;
      background-color: $lightgreen;
      width: percentage($i / 100);
      position: relative;
      color: $brightgreen;
      &:hover {
        background-color: $hoverbasegreen;
      }
    }
  }

  &__battles {
    @extend .baseMenuElement;
    color: $brightgreen;
    background-color: $basegreen;
    &:hover {
      background-color: $hoverbasegreen;
    }
  }

  &__close {
    @extend .baseMenuElement;
    color: white;
    background-color: red;
  }

  &__crystal {
    @extend .baseMenuElement;
    background-color: $basegreen;
    color: $brightgreen;
    &:hover {
      background-color: $hoverbasegreen;
    }
  }

  &__garage {
    @extend .baseMenuElement;
    color: white;
    background-color: gray;
    &:hover {
      background-color: lightgray;
    }
  }

  &__lang {
    @extend .baseMenuElement;
    color: white;
    background-color: gray;
    &:hover {
      background-color: lightgray;
    }
  }

  &__settings {
    @extend .baseMenuElement;
    color: white;
    background-color: gray;
    &:hover {
      background-color: lightgray;
    }
  }

  &__shop {
    @extend .baseMenuElement;
    color: white;
    background-color: $baseyellow;
    &:hover {
      background-color: $hoverbaseyellow;
    }
  }

  &__logo {
    width: 40px;
  }

  a {
    text-decoration: none;
  }
}